/* Sponsors */
.sponsors {
  padding: 15rem 0 15rem;
  background-color: #f0f0f0;
  background-image: url(../img/bg02.jpg);
}
.sponsors__title {
  display: inline-block;
  font-family: "Sharp", serif;
  font-size: 7rem;
  font-weight: bold;
  color: #000;
  padding: 10rem 0 5rem 0;
  text-align: left;
  line-height: 1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.sponsors__title::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  left: 50%;
  top: 18rem;
  transform: translateX(-50%);
  background-color: #ffd700;
  position: absolute;
}
.sponsors__subTitle {
  font-family: "Sharp", serif;
  font-size: 2.4rem;
  text-align: center;
  color: #000;
  margin-bottom: 5rem;
  margin-top: -3rem;
  letter-spacing: 0.1em;
}
.sponsors__inner {
  padding: 2rem 5rem;
}
.sponsors__innerTitle {
  font-family: "Sharp", serif;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 1.6;
}
.sponsors__innerTitle::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  top: 4rem;
  left: 0;
  background-color: #ffd700;
  position: absolute;
}
.sponsors__text {
  color: #000;
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 2rem;
}
.sponsors__text.-second {
  margin-bottom: 4rem;
}
.sponsors__text span {
  font-weight: bold;
}
.sponsors__textSecond {
  color: #000;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.1em;
  text-align: center;
}
.sponsors__list.-first {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ffd700;
}
.sponsors__list.-first span {
  display: inline-block;
  font-size: 2.8rem;
  height: 20px;
  margin-top: -1rem;
}
.sponsors__list.-second {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  border-bottom: 2px solid #ffd700;
}
.sponsors__list.-second span {
  display: inline-block;
  font-size: 3rem;
  height: 30px;
  margin-top: -1rem;
}
.sponsors__list.-third {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5rem;
  overflow: hidden;
}
.sponsors__listItem.-first {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 3rem;
  margin-bottom: 2rem;
}
.sponsors__listItem.-second {
  font-size: 2.4rem;
  font-weight: bold;
  margin-right: 3rem;
  margin-bottom: 3rem;
  letter-spacing: 0.05em;
}
.sponsors__listItem.-third {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.05em;
}
.sponsors__link {
  display: block;
  font-size: 2rem;
  text-wrap: wrap;
  color: #077dff;
  opacity: 0.8;
  overflow: hidden;
  overflow-wrap: break-word; /* 長い単語を改行する */
  word-wrap: break-word; /* 古いブラウザ用 */
  word-break: break-all;
}
.sponsors__link.-second {
  display: block;
  font-size: 1.6rem;
  color: #077dff;
  opacity: 0.8;
  overflow: hidden;
}
.sponsors__link:hover {
  opacity: 1;
}
@media (max-width: 1024px) {
  .sponsors__title {
    font-size: 6rem;
  }
  .sponsors__subTitle {
    font-size: 2.2rem;
    margin-top: -2rem;
  }
  .sponsors__text {
    font-size: 1.8rem;
  }
  .sponsors__textSecond {
    font-size: 2.2rem;
  }
  .sponsors__list.-first span {
    display: inline-block;
    font-size: 3.2rem;
    height: 35px;
    margin-top: -1rem;
  }
}
@media (max-width: 768px) {
  .sponsors {
    padding-bottom: 10rem;
  }
  .sponsors__title {
    font-size: 5rem;
  }
  .sponsors__title::after {
    top: 16rem;
  }
  .sponsors__subTitle {
    font-size: 2rem;
    margin-top: -3rem;
    margin-bottom: 2rem;
  }
  .sponsors__inner {
    padding: 2rem 2rem;
  }
  .sponsors__innerTitle {
    font-size: 1.8rem;
  }
  .sponsors__text {
    font-size: 1.6rem;
  }
  .sponsors__textSecond {
    font-size: 2rem;
  }
  .sponsors__listItem.-first {
    font-size: 2.6rem;
  }
  .sponsors__listItem.-second {
    font-size: 2.2rem;
  }
  .sponsors__listItem.-third {
    font-size: 1.8rem;
  }
  .sponsors__link {
    font-size: 1.6rem;
  }
  .sponsors__link.-second {
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .sponsors {
    padding-top: 10rem;
  }
  .sponsors__contents {
    padding: 4px;
  }
  .sponsors__title {
    font-size: 2.8rem;
    padding: 5rem 0 5rem 0;
  }
  .sponsors__title::after {
    top: 8.5rem;
  }
  .sponsors__subTitle {
    font-size: 1.2rem;
    margin-top: -4rem;
  }
  .sponsors__inner {
    padding: 2rem 1rem;
  }
  .sponsors__innerTitle::after {
    top: 7rem;
  }
  .sponsors__innerTitle {
    font-size: 1.4rem;
  }
  .sponsors__innerTitle::after {
    top: 5.5rem;
  }
  .sponsors__text {
    font-size: 1.4rem;
    text-align: left;
  }
  .sponsors__textSecond {
    font-size: 1.6rem;
  }
  .sponsors__list.-first {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  .sponsors__list.-second {
    margin-bottom: 3rem;
  }
  .sponsors__listItem.-first {
    font-size: 2rem;
    margin-right: 0;
    line-height: 1.5;
  }
  .sponsors__listItem.-second {
    font-size: 1.6rem;
    margin-right: 0;
  }
  .sponsors__list.-first span {
    height: 31px;
  }
  .sponsors__list.-second span {
    font-size: 2rem;
    height: 20px;
  }
  .sponsors__listItem.-third {
    font-size: 1.4rem;
  }
}
